body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 0px 20px;
}

.main-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 50px); /* Resta la altura del header */
}

.canvas-container {
    flex: 0 0 70%;
}

.panel-container {
    flex: 0  30%;
    padding: 20px;
    background-color: rgb(102, 107, 116);
    overflow-y: auto;
}

#physicsCanvas {
    width: 100%;
    height: 100%;
    
    display: block;
}


.charge-btn {
    background-color: #0e0c80;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.charge-btn:hover {
    background-color: #1916c5;
}

.carga-div {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.carga-div label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.carga-div button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    float: center;
}   

.carga-div i{
    float: right;
    cursor: pointer;
}

.carga-div input[type="number"],
.carga-div input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.carga-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e9e9e9;
    border-radius: 3px;
    cursor: pointer;
}

.carga-header:hover {
    background-color: #ddd;
}

.minimizar {
    cursor: pointer;
    padding: 5px;
}

.carga-content {
    padding: 15px;
    transition: all 0.3s ease;
}

.carga-minimizada .carga-content {
    display: none;
}

#info {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 50%;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-height: 50%;
    padding: 20px 15px;
    background-color: #232323;
    position: absolute;
}

.info-span {
    padding: 3px 15px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fefefe;
}